
@import '../texts.scss';
@import '../colors.scss';

Nav {

    .nav-link {
        font-family: $font-family-secondary;
        font-weight: 600;
        color: rgb(255, 255, 255)!important;
        font-size: .8rem;
        text-transform: uppercase;
        line-height: 0;
    }
    :hover {
        color: $primary!important;
    }
    .active {
        color: $primary!important;
        font-weight: 600;
    }
    
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(196,38,100)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(196,38,100)!important;
  } 