@import '../../texts.scss';
@import '../../colors.scss';

.aboutme-box-image {
    background-image: url("../../../images/motif/motif_4.jpg");
    height: 500px;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
}
@media (min-width: 576px) { 
    .aboutme-box-image  {
        height: 800px;
    }
}
@media (min-width: 992px) { 
    .aboutme-box-image  {
        width: 60%;

        div {
            width: 50%!important;
        }
    }
}
