// Them Colors choose
$primary: #C42664;
$dark: #303030; // Gris oscuro fondo
$success: #525252; // Gris fondo footer-copyright
$secondary: #FCF5EB; // Color ocre
$info: #4F070D; // Segundo Background