// Texto normal, general.
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: 'Poppins', sans-serif; Size: 14px

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Fuente para los títulos de las secciones.
$font-family-primary: 'winsome, sans-serif';
// Fuente para los textos de la web, incluye navegación.
$font-family-secondary: 'Poppins', sans-serif;

// SUBTÍTULO
.subtitle-text {
    font-size: 1.3rem;
    font-family: $font-family-secondary;
    font-weight: 400;
    font-style: normal;
}
.subtitle-text-primary-color {
    color: #C42664;
}

// TEXTO
.main-text  {
    font-size: 0.9rem;
    font-family: $font-family-secondary;
    font-weight: 400;
    letter-spacing: 1.1px;
    line-height: 1.7;
    color: #696969; 
}

.main-text-sm {
    font-size: 0.7rem;
}
@media (min-width:400px) { 
    .main-text-sm {
        font-size: 0.9rem;
    }
}


.navegation-text {
    font-size: 0.9rem;
    font-family: $font-family-secondary;
    font-weight: 400;
}

@media (min-width: 576px) { 
    .main-text-sm {
        font-size: 0.9rem;
    }
}

/*@media (min-width: 768px) { 
    .note-text  {
    }
}
@media (min-width: 992px) { 
    .note-text  {
    }
}*/

.botton-line {
    border-bottom: 5px solid #C42664 !important;
}

.botton-line-white {
    border-bottom: 5px solid #FFF !important;
}

.imgbox {
    height: fit-content;
}

.imgbox img {
    width: 100%;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    max-width: 100%;
}

.img_logo {
    width: 100px;
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    max-width: 100%;
}

.numeration {
    font-family: winsome, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
}